*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
  img.fiximg {
    min-height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -5;
    bottom: 0;
    left: 0;
  }
  .navbar {
    position: sticky;
    z-index: 10;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    background-color: rgba(0, 0, 0, 1);
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    ul {
      list-style-type: none;
      display: flex;

      li {
        padding: 8px 12px;

        a {
          font-size: 1.5rem;
          text-decoration: none;
          color: #fff;
        }
      }
    }
  }
  .carousel {
    width: 100%;
    height: 70vh;
    overflow: hidden;
    .container {
      width: 100%;
      height: 100%;
      position: relative;
      display: flex;
      transition: all 1s;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        flex-shrink: 0;
        object-fit: cover;
      }
    }
    .overlay{
      position: absolute;
      inset: 0;
      background-color: rgba(0, 0, 0, 0.3);
      display: flex;
      justify-content: center;
      align-items: center;
      p{
        color: #fff;
        font-size: 2.5rem;
      }
    }
  }
 

  .card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    min-height: 60vh;
    background-color: #fff;
    border: 1px solid pink;
    .card {
      flex: 0 1 30%;
      cursor: pointer;
      padding: 8px;

      .imgcontainer {
        width: 100%;
        overflow: hidden;
        object-fit: cover;

        img {
          width: 100%;
          transition: all 0.5s;

          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    .card-list {
      .card {
        flex: 0 0 50%;
      }
    }
  }

  @media screen and (max-width: 414px) {
    .card-list {
      .card {
        flex: 0 0 100%;
      }
    }
  }
 
  .show {
    display: block !important;
  }
 

  section.StickyContainer {
    min-height: 70vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    h2 {
      font-size: 2rem;
      color: #fff;
    }
  }
  section.googlemap{
    background-color: #fff;
    padding: 2rem 1rem;
    text-align: center;
    h2{
      font-size: 2rem;
      margin: 1rem;
    }
    iframe{
      width: 100%;
      min-height: 40vh;
    }
  }
  footer{
    display: flex;
    padding: 2rem;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    section.link{
      h3{
        font-size: 2rem;
        text-align: center;
        color: #fff;
        padding: 1rem;
      }
      a{
        img{
          width: 5vh;
          margin: 0rem 1rem;
        }
      }
    }
  }
  
  
}
