*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
}
body img.fiximg {
  min-height: 100vh;
  width: 100%;
  position: fixed;
  z-index: -5;
  bottom: 0;
  left: 0;
}
body .navbar {
  position: sticky;
  z-index: 10;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  background-color: rgb(0, 0, 0);
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}
body .navbar ul {
  list-style-type: none;
  display: flex;
}
body .navbar ul li {
  padding: 8px 12px;
}
body .navbar ul li a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
}
body .carousel {
  width: 100%;
  height: 70vh;
  overflow: hidden;
}
body .carousel .container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  transition: all 1s;
  position: relative;
}
body .carousel .container img {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
body .carousel .overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}
body .carousel .overlay p {
  color: #fff;
  font-size: 2.5rem;
}
body .card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  min-height: 60vh;
  background-color: #fff;
  border: 1px solid pink;
}
body .card-list .card {
  flex: 0 1 30%;
  cursor: pointer;
  padding: 8px;
}
body .card-list .card .imgcontainer {
  width: 100%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}
body .card-list .card .imgcontainer img {
  width: 100%;
  transition: all 0.5s;
}
body .card-list .card .imgcontainer img:hover {
  transform: scale(1.2);
}
@media screen and (max-width: 768px) {
  body .card-list .card {
    flex: 0 0 50%;
  }
}
@media screen and (max-width: 414px) {
  body .card-list .card {
    flex: 0 0 100%;
  }
}
body .show {
  display: block !important;
}
body section.StickyContainer {
  min-height: 70vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
body section.StickyContainer h2 {
  font-size: 2rem;
  color: #fff;
}
body section.googlemap {
  background-color: #fff;
  padding: 2rem 1rem;
  text-align: center;
}
body section.googlemap h2 {
  font-size: 2rem;
  margin: 1rem;
}
body section.googlemap iframe {
  width: 100%;
  min-height: 40vh;
}
body footer {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
}
body footer section.link h3 {
  font-size: 2rem;
  text-align: center;
  color: #fff;
  padding: 1rem;
}
body footer section.link a img {
  width: 5vh;
  margin: 0rem 1rem;
}/*# sourceMappingURL=style.css.map */