*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    background-color: rgba(0, 0, 0, 1);


    ul {
        list-style-type: none;
        display: flex;

        li {
            padding: 8px 12px;

            a {
                font-size: 1.5rem;
                text-decoration: none;
                color: #fff;
            }

        }
    }
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 1440px;
    margin: auto;

    .card {
        flex: 0 0 33.333333%;
        cursor: pointer;
        padding: 8px;

        .imgcontainer {
            width: 100%;
            overflow: hidden;
            object-fit: cover;

            img {
                width: 100%;
                transition: all .5s;

                &:hover {
                    transform: scale(1.2);
                }
            }

        }
    }
}

@media screen and (max-width:768px) {
    .card-list {
        .card {
            flex: 0 0 50%;
        }
    }
}

@media screen and (max-width:414px) {
    .card-list {
        .card {
            flex: 0 0 100%;
        }
    }
}
.box{
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    .box_info{
        width: 600px;
        height: 600px;
        border: 1px solid #000;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
        color: #fff;
    }
}
.show{
    display: block !important;
}

